<%- include("header"); -%>

    <div class="box" id="heading">
      <h1>Hi DuDu~</h1>
      <h2><%= listTitle %></h2>
    </div>


<div class="box">

  <%  for(var i=0;i<items.length;i++){  %>
    <div class="item">
      <input type="checkbox">
      <li>
    <%=     items[i]; %>
      </li>
    </div>
    <%   } %>

    <form  class="item" action="/" method="post">
      <input type="text" name="next_item" placeholder="New Item">
      <button type="submit" >+</button>
    </form>

</div>

<%- include("footer"); -%>
